@import '../../lib/colors';

.graphics-container {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

.dot {
	width: 4px;
  height: 4px;
  z-index: 5;
  border-radius: 2px;
  position: absolute;
  background-color: $turquoise;
}

.line {
	position: absolute;
	height: 0px;
	border-bottom: 0.5px solid $darkgray;
	z-index: 1;
}