@import "../../lib/colors.scss";

.code {
	align-items: flex-start;
	/*justify-content: center;*/
	flex-direction: column;
	color: $lightgray;
	margin-left: 85px;
	justify-content: center;
	margin-bottom: 100vh;
}

.project {
	margin-top: 50px;
}