@import '../lib/colors';

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

h1 {
  font-size: 32pt;
  font-weight: normal;
  margin: 0px;
}

h2 {
  font-size: 20pt;
  font-weight: normal;
}

.app-container {
	display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
	display: flex;
  flex-direction: column;
  transform: translateY(-200vh);
  pointer-events: none;
}

.section-container {
  display: flex;
  margin-top: 100px;
  padding: 50px 0px 0px 75px;
}

.info-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  margin-bottom: 40vh;
  z-index: 10;
  pointer-events: none;
}

.link {
	margin: 5px;
  display: flex;
  flex-direction: row;
  /*font-size: 20pt;*/
  /*font-weight: normal;*/
  color: $darkgray;
  padding-left: 75px;
  padding-right: 75px;
  cursor: pointer;
  pointer-events: auto;
  transition: all 170ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
  &:hover {
    color: $turquoise;
    transform: scale(1.2);
  }
}

@keyframes draw-name-in {
  0% {
    stroke-dasharray: 200 540;
    stroke-dashoffset: -434;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}

.name {
	/*font-size: 32pt;*/
	line-height: 32px;
	/*font-weight: normal;*/
	text-align: center;
  color: $darkgray;
  position: relative;
  top: -52px;
}

.svg-wrapper-name {
  pointer-events: auto;
  height: 60px;
	margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.svg-wrapper-name:hover .shape-name {
  -webkit-animation: 0.5s draw-name-in linear forwards;
  animation: 0.5s draw-name-in linear forwards;
}

.shape-name {
  fill: transparent;
  stroke-dasharray: 200 540;
  stroke-dashoffset: -434;
  stroke-width: 8px;
  stroke: $turquoise;
}

.resume-container {
	position: fixed;
	display: flex;
	z-index: 20;
	background-color: $graytrans;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.resume {
	height: 85vh;
	background-color: white;
	cursor: pointer;
	transition: all 250ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
	&:hover {
    transform: scale(1.01);
  }
}

.absolute {
	position: absolute;
}

.bouncy-div {
	animation: bounceInUp; 
	animation-duration: 1.5s;
	position: absolute;
	bottom: -20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.chevron {
	transform: scaleX(2);
	color: $darkgray;
}