@import '../lib/colors';

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.app-container {
	display: flex;
  flex-direction: column;
  align-items: center;
}

.graphics-container {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

.dot {
	width: 4px;
  height: 4px;
  z-index: 5;
  border-radius: 2px;
  position: absolute;
  background-color: $turquoise;
}

.line {
	position: absolute;
	height: 0px;
	border-bottom: 0.5px solid $darkgray;
	z-index: 1;
}

.info-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  margin-bottom: 40vh;
  z-index: 10;
}

.link {
	margin: 5px;
  display: flex;
  flex-direction: row;
  font-size: 20pt;
  font-weight: normal;
  color: $darkgray;
  padding-left: 75px;
  padding-right: 75px;
  cursor: pointer;
  transition: all 170ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
  &:hover {
    color: $turquoise;
    transform: scale(1.2);
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 200 540;
    stroke-dashoffset: -434;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}

.name {
	font-size: 32pt;
	line-height: 32px;
	font-weight: normal;
	text-align: center;
  color: $darkgray;
  position: relative;
  top: -83px;
}

.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.shape {
  fill: transparent;
  stroke-dasharray: 200 540;
  stroke-dashoffset: -434;
  stroke-width: 8px;
  stroke: $turquoise;
}

.resume-container {
	position: fixed;
	display: flex;
	z-index: 20;
	background-color: $graytrans;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.resume {
	height: 85vh;
	background-color: white;
	cursor: pointer;
	transition: all 250ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
	&:hover {
    transform: scale(1.01);
  }
}

.gallery-container {
	display: flex;
	margin-top: 10vh;
	flex-direction: row;
	flex-wrap: wrap;
	white-space: nowrap;
	align-items: center;
	justify-content: center;
	z-index: 10;
	pointer-events: none;
}

.image-wrapper {
	width: 600px !important;
	height: 400px !important;
	margin: 20px;
	overflow: hidden;
	pointer-events: auto;
	transition: all 250ms cubic-bezier(0.21, 0.94, 0.64, 0.99);
	&:hover {
    transform: scale(1.01);
  }
}

.absolute {
	position: absolute;
}

.bouncy-div {
	animation: bounceInUp; 
	animation-duration: 1.5s;
	position: absolute;
	bottom: -20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.chevron {
	transform: scaleX(2);
	color: $darkgray;
}