@import "../../lib/colors.scss";

$gutter: 20px;

@function image-height($num-columns, $aspect-ratio) {
	@return calc(((100vw - 105px - (#{$num-columns} - 1) * #{$gutter}) / #{$num-columns}) * #{$aspect-ratio});
}

.photos {
  margin-left: 85px;
  flex-direction: column;
  color: $lightgray;
}

.gallery {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 85px);
}

.gallery .column {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-right: $gutter;
}

.image-wrapper {
  margin-bottom: $gutter;
  width: 100%;
  height: image-height(var(--num-columns), var(--aspect-ratio));
	pointer-events: auto;
}


.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $graytrans;
  transform: translateZ(0);
}

.gallery img {
  cursor: zoom-in;
  display: block;
  margin: auto;
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
}

.zoomed img {
	cursor: zoom-out;
}

