@import "../../lib/colors.scss";

$gutter: 20px;

@function image-height($num-columns, $aspect-ratio) {
	@return calc(((100vw - 105px - (#{$num-columns} - 1) * #{$gutter}) / #{$num-columns}) * #{$aspect-ratio});
}

.gallery {
	padding-left: 75px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.gallery .column {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-right: $gutter;
}

.image-wrapper {
  margin-bottom: $gutter;
  width: 100%;
  height: image-height(var(--num-columns), var(--aspect-ratio));
	pointer-events: auto;
}

// .photo-caption {
// 	position: absolute;
// 	text-transform: lowercase;
//   margin-top: -40px;
//   margin-left: 10px;
//   color: $lightgray;
//   mix-blend-mode: screen;
// }

.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: $graytrans;
  transform: translateZ(0);
}

.gallery img {
  cursor: zoom-in;
  display: block;
  margin: auto;
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
}

img#zoom {
  cursor: zoom-out;
}

// .img-spacer {
// 	opacity: 0;
// }


