@import "../../lib/colors.scss";

@keyframes draw-section {
  0% {
  	stroke-dasharray: 34 540;
  	stroke-dashoffset: -210;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  align-self: flex-start;
  top: 0;
  margin-left: 15px;
  z-index: 10;
  height: 100vh;
  margin-top: 100vh;
}

.sidebar-section-container {
  margin: 0;
  /*display: flex;*/
  /*flex-direction: row;*/
  cursor: pointer;
  /*padding-left: 10px;*/
  /*color: $lightgray;
  writing-mode: vertical-rl;
  text-orientation: upright;*/
/*  -webkit-transition:  all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  -moz-transition:  all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  transition: all 1s cubic-bezier(0.21, 0.94, 0.64, 0.99);
  &:hover {
    transform: scale(1.1);
    color: $turquoise;
  }*/
}

.sibebar-section-active .shape-section {
  -webkit-animation: 0.5s draw-section linear forwards;
  animation: 0.5s draw-section linear forwards;
}

.sidebar-section-title {
  margin: 0;
  /*line-height: 32px;*/
  /*left: -55px;*/
  transform: translateX(-45px);
  font-weight: normal;
  font-size: 12pt;
  color: $lightgray;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/*@keyframes draw-section {
	0% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
  100% {
  	stroke-dasharray: 34 540;
  	stroke-dashoffset: -210;
    stroke-width: 8px;
  }
}*/

.svg-wrapper-section {
  height: 60px;
	margin: 0 auto;
	display: flex;
  position: relative;
  cursor: pointer;
}

.svg-wrapper-section:hover .shape-section {
  -webkit-animation: draw-section 0.5s linear forwards;
  animation: draw-section 0.5s linear forwards;
}

.sidebar-section-active .shape-section {
	-webkit-animation: draw-section 0.5s linear forwards;
  animation: draw-section 0.5s linear forwards;
}

.shape-section {
  fill: transparent;
  stroke-dasharray: 34 540;
  stroke-dashoffset: -210;
  stroke-width: 8px;
  stroke: $turquoise;
  /*transition: all 500ms;*/
  /*-webkit-animation: draw-section 0.25s linear backwards 1 forwards;*/
 	/*animation: draw-section 0.25s linear backwards 1 forwards;*/
}