@import "../../lib/colors.scss";

@keyframes draw-section-in {
  0% {
    stroke-dasharray: 34 540;
    stroke-dashoffset: -210;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}

@keyframes draw-section-out {
  0% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
  100% {
    stroke-dasharray: 34 540;
    stroke-dashoffset: -210;
    stroke-width: 8px;
  } 
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  align-self: flex-start;
  pointer-events: none;
  top: -35px;
  margin-left: 15px;
  height: 100vh;
  margin-top: 100vh;
}

.sidebar-section-title {
  font-size: 12pt;
  transform: translateX(9px);
  fill: $lightgray;
}

.svg-wrapper-section {
  height: 60px;
	margin: 0 auto;
	display: flex;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}

.sidebar-section-active .shape-section, .svg-wrapper-section:hover .shape-section {
	-webkit-animation: draw-section-in 0.5s linear forwards;
  animation: draw-section-in 0.5s linear forwards;
}

.shape-section {
  fill: transparent;
  stroke-dasharray: 34 540;
  stroke-dashoffset: -210;
  stroke-width: 8px;
  stroke: $turquoise;
  -webkit-animation: draw-section-out 0.25s linear forwards;
 	animation: draw-section-out 0.25s linear forwards;
}